{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
    ], 
    "plugins": ["react", "prettier"],
    "parser": "babel-eslint",
    "globals": {
      "document": true
    },
    "env": {
      "node": true,
      "es6": true,
      "browser": true,
      "commonjs": true,
      "jest": true
    },
    "rules": {
      "import/no-named-as-default": "off",
      "import/prefer-default-export": "off",
      "prettier/prettier": "error",
      "react/react-in-jsx-scope": ["off"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}